<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 . All rights reserved.
  ~ ProjectName: InfoScreen
  ~ FileName: AndroidManifest.xml
  ~ URL: https://github.com/MortalKim/InfoScreen_Android
  ~ Email: jinhaihan@outlook.com
  ~ LastModified: 10/1/22, 3:34 PM
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoScreen"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>
        <activity android:name="com.kim.infoscreen.ui.full.FullActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="1680"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="1404"/>
    </application>

</manifest>